<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier une tâche</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h1>Modifier une tache</h1>

    <form class="px-4 py-3" action="#" th:action="@{/todo/save/{id}(id=${tacheToUpdate.id})}" th:object="${tacheToUpdate}" method="post">
        <div class="form-group">
            <label for="titre">Titre de la tache</label>
            <span th:if="${#fields.hasErrors('titre')}" th:errors="*{titre}"></span>
            <input type="text" class="form-control" id="titre" placeholder="Titre de la tache" th:field="*{titre}">
        </div>

        <div class="form-group">
            <label for="texte">Description de la tache</label>
            <span th:if="${#fields.hasErrors('texte')}" th:errors="*{texte}"></span>
            <input type="text" class="form-control" id="texte" placeholder="Description de la tache" th:field="*{texte}">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </form>

<a th:href="@{/todos}">Retourner à la liste.</a>

</body>
</html>